{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  <h3>News</h3>
  {% assign everything = site.publications | concat: site.talks | concat: site.news %}
  {% assign sorted = everything | sort: "date" | reverse %}

  <div class="news">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <ul>{% for post in sorted limit:5 %}
    <li><b>{{post.date | date: "%m.%d.%y"}}</b>: 
    {% if post.collection == "news" %}
      {{post.description}} 
    {% endif %}
    {% if post.collection == "publications" %}
      Our work, <i>{{post.title}}</i>, was published at <b>{{post.venueinformal}}</b>
    {% endif %}
    {% if post.collection == "talks" %}
      I gave a talk at <b>{{post.venue}}</b> called <i>{{post.title}}</i>
    {% endif %}</li>
  {% endfor %}</ul>
  </div>
  <a href="https://katherine-atwell.github.io/news/">See more</a>
  </div>
{% endif %}