/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  //border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $header-font-family; //$sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  // background-color: linear-gradient(
  //   to bottom,
  //   #2E5A5EAA, /* teal with transparency */
  //   rgba(255, 255, 255, 0.2)  /* beige with transparency */
  // );
  background-color: $masthead-color;
  color: #fff;
  //backdrop-filter: blur(20px);
  opacity: 0.6;
  //background: rgba(255, 255, 255, 0.1);
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
  //background-color: $masthead-color;
  color: #fff
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}